<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <form method="post" th:action="@{/orders}" th:object="${order}">
        <a th:href="@{/design}">Design another</a>
        <br/>

        <div th:if="${#fields.hasErrors()}">
            <span>Pls correct the problems below end resubmit</span>
        </div>

        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        <br/>

        <label for="zip">Zip:</label>
        <input type="text" id="zip" th:field="*{zip}" />
        <span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">Zip Error</span>
        <br/>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <input type="submit" value="Submit Order" />
    </form>
</body>
</html>